.main {
  background: $bg-color;
  height: 600px;
  color: $text-color;
  position: relative;
  display: flex;
  padding: 3em;
  padding-top: 6em;
  .main-info {
    width: 70%;
    font-size: 1.5em;
    text-align: center;
    .main-title {
      text-shadow: 3px 3px 5px black;
    }
    .main-text {
      font-size: 0.9em;
      text-shadow: 3px 3px 5px black;
    }
    .flecha {
      margin-top: 100px;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      bottom: 120px;
      transform: translateX(-50%);
      animation: move 1.5s infinite;
      transition: animation ease;
      img {
        width: 15%;
        height: 100%;
      }
    }
  }
  .main-image {
    width: 30%;
    &:hover {
      transform: rotate(10deg);
      filter: hue-rotate(120deg);
    }
    img {
      width: 100%;
    }
  }
}

@keyframes move {
  from {
    bottom: 120px;
  }
  to {
    bottom: 80px;
  }
}
