.body-rooms {
  background-color: $bg-color;
  padding: 3em;
  min-height: 100vh;
  .tittle-room {
    color: $text-color;
    font-size: 3em;
    text-align: center;
    font-family: roboto, "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
    text-shadow: 5px 3px 2px black;
  }
  .container-room {
    border: 5px solid $text-color;
    margin-top: 1.5em;
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    .player1 {
      margin: 10px;
      display: grid;

      video {
        width: 180px;
        height: 180px;
        margin: 15px;
        background: black;
        border-radius: 10px;
        border: 5px solid black;
        box-shadow: 2px 3px 2px 1px black;
      }
    }

    .video {
      width: 400px;
      height: 450px;
      align-self: center;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .chat {
      margin-right: 20px;
      position: relative;}
      min-height: 400px;
      #listado-msjs{
        color: $text-color
      }
      #env-msjs{
        position: absolute;
        bottom: 0;
        #nuevo-msj{
          margin-top: 8px;
          margin-right: 5px;
          padding: 3px;
        }
        #btn-msj{
          border-radius: 10px;
          padding: 5px;
        }
      }
     
    }
  }
}
