<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="scss/main.css" />
    <title>Mercapez Free</title>
  </head>
  <body>
    <header class="header">
      <div class="brand">
        <img
          src="https://fontmeme.com/permalink/200913/bef042adb186d0937ad7c011d0868427.png"
          alt="brand"
          border="0"
        />
      </div>
      <nav class="navbar">
        <ul class="list">
          <li class="item"><a href="#">Home</a></li>
          <li class="item"><a href="#battles">Batallas</a></li>
          <li class="item"><a href="#info">Información</a></li>
        </ul>
      </nav>
    </header>
    <main class="main" id="main">
      <div class="main-info">
        <h1 class="main-title">
          Batallas de gallos <br />
          online
        </h1>
        <p class="main-text">
          El lugar donde puedes mostrar todo tu talento. <br />Compite contra
          los mejores desde la comodidad de tu casa.
        </p>
        <div class="flecha">
          <a href="#battles"><img src="images/flecha.png" alt="" /></a>
        </div>
      </div>
      <div class="main-image">
        <img src="images/main.png" alt="" />
      </div>
    </main>
    <section class="battle-section" id="battles">
      <h2 class="battles-title">Salas de batalla</h2>
      <div class="container">
        <div class="card-battle">
          <h3 class="card-title">Sala 1</h3>
          <a class="join1" href="/room1" target="_blank">Competir</a>
          <a class="join2" href="/room1.html" target="_blank">Competir</a>
          <a class="public-join" href="/room1.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 2</h3>
          <a class="join1" href="/room2.html" target="_blank">Competir</a>
          <a class="join2" href="/room2.html" target="_blank">Competir</a>
          <a class="public-join" href="/room2.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 3</h3>
          <a class="join1" href="/room3.html" target="_blank">Competir</a>
          <a class="join2" href="/room3.html" target="_blank">Competir</a>
          <a class="public-join" href="/room3.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 4</h3>
          <a class="join1" href="/room4.html" target="_blank">Competir</a>
          <a class="join2" href="/room4.html" target="_blank">Competir</a>
          <a class="public-join" href="/room4.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 5</h3>
          <a class="join1" href="/room5.html" target="_blank">Competir</a>
          <a class="join2" href="/room5.html" target="_blank">Competir</a>
          <a class="public-join" href="/room5.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 6</h3>
          <a class="join1" href="/room6.html" target="_blank">Competir</a>
          <a class="join2" href="/room6.html" target="_blank">Competir</a>
          <a class="public-join" href="/room6.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 7</h3>
          <a class="join1" href="/room7.html" target="_blank">Competir</a>
          <a class="join2" href="/room7.html" target="_blank">Competir</a>
          <a class="public-join" href="/room7.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 8</h3>
          <a class="join1" href="/room8.html" target="_blank">Competir</a>
          <a class="join2" href="/room8.html" target="_blank">Competir</a>
          <a class="public-join" href="/room8.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 9</h3>
          <a class="join1" href="/room9.html" target="_blank">Competir</a>
          <a class="join2" href="/room9.html" target="_blank">Competir</a>
          <a class="public-join" href="/room9.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 10</h3>
          <a class="join1" href="/room10.html" target="_blank">Competir</a>
          <a class="join2" href="/room10.html" target="_blank">Competir</a>
          <a class="public-join" href="/room10.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 11</h3>
          <a class="join1" href="/room11.html" target="_blank">Competir</a>
          <a class="join2" href="/room11.html" target="_blank">Competir</a>
          <a class="public-join" href="/room11.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
        <div class="card-battle">
          <h3 class="card-title">Sala 12</h3>
          <a class="join1" href="/room12.html" target="_blank">Competir</a>
          <a class="join2" href="/room12.html" target="_blank">Competir</a>
          <a class="public-join" href="/room12.html" target="_blank"
            >Ingresar como público</a
          >
        </div>
      </div>
    </section>

    <footer class="footer" id="info">
      <div class="brand-footer">
        <a href="#main"
          ><img
            src="https://fontmeme.com/permalink/200913/bef042adb186d0937ad7c011d0868427.png"
            alt="brand"
            border="0"
        /></a>
      </div>
      <p class="trabajo">
        Comunicaciones 2 - Facultad de ingeniería - Universidad de Antioquia
      </p>
      <div class="repo">
        <p>Repositorio del trabajo:</p>
        <a href="https://github.com/slqpez/websockets-pratice" target="_blank"
          ><img src="images/git.svg" alt=""
        /></a>
      </div>
      <p class="derechos">
        Hecho con 🍻. Por Santiago López Quiceno & Alejandro Mercado.
      </p>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
