<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="scss/main.css" />
    <title>Sala Mercapez</title>
  </head>

  <body>
    <div class="body-rooms">
      <h1 class="tittle-room">Sala de Batalla</h1>
      <div class="container-room">
        <div class="player1"></div>
        <div id="player"></div>
        <div class="chat">
          <h2 class="tittle-room">Chat Online</h2>
          <div id="listado-msjs"></div>
          <div id="env-msjs">
            <input id="nuevo-msj" placeholder="Nuevo mensaje" />
            <button class="join1" id="btn-msj" onclick="enviarMensaje()">
              Enviar
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
      defer
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/room.js" defer></script>
  </body>
</html>
