<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="scss/main.css" />
    <title>Sala 1</title>
  </head>
  <body>
    <div class="body-rooms">
      <h1 class="tittle-room">Sala 1</h1>
      <div class="container-room">
        <div class="player1 avatar"></div>
        <div class="video">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/wo-ayuDjqF4"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          ></iframe>
        </div>
        <div class="player2 avatar"></div>
      </div>
    </div>
  </body>
</html>
